.cart-book-card {
    $self: &;

    width: 100%;
    margin: 50px 0;

    &_dark {
        background-color: rgb(50, 50, 50);

        #{$self}__img {
            background-color: rgb(114, 121, 138);
        }

        #{$self}__text {
            color: white;
        }

        #{$self}__price {
            color: white;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 2px solid lightgray;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: rgb(233, 240, 255);
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
        }

        @media(max-width: 600px) {
            width: 30%;
        }

        @media(max-width: 350px) {
            display: none;
        }
    }

    &__text {
        width: 60%;

        @media(max-width: 600px) {
            width: 50%;
            padding-left: 10px;
        }

        &__container {
            padding: 10% 0;
        }

        &__title {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;

            @media(max-width: 600px) {
                font-size: 18px;
            }
        }

        &__subtitle {
            margin-top: 50px;
            font-size: 18px;
            font-style: italic;

            @media(max-width: 600px) {
                margin-top: 30px;
                font-size: 16px;
            }
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3% 0;
        width: 10%;

        @media(max-width: 600px) {
            width: 20%;
        }

        &__text {
            font-size: 20px;

            @media(max-width: 600px) {
                font-size: 18px;
            }
        }

        &__num {
            font-size: 24px;
            font-weight: 700;

            @media(max-width: 600px) {
                font-size: 20px;
            }
        }

        &__delete {
            cursor: pointer;
        }
    }
}